<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <!--当是IE的是试用最新的渲染引擎来渲染页面-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">

    <title>微金所首页2.0</title>
    <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="lib/html5shiv/html5shiv.min.js"></script>
    <script src="lib/respond/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="css/index2.0.css">

</head>
<body>
<!--头部-->
<header class="top hidden-xs hidden-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <a href="#" class="app">
                    <span class="wjs_icon wjs_icon_phone"></span>
                    <span>手机微金所</span>
                    <span class="glyphicon glyphicon-menu-down"></span>
                    <img src="images/code.jpg" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <span class="wjs_icon wjs_icon_tel"></span>
                <span>4006-89-4006（服务时间：9:00-21:00）</span>
            </div>
            <div class="col-md-2">
                <a href="#">常见问题</a>　
                <a href="#">财富登录</a>
            </div>
            <div class="col-md-3">
                <a href = "#" class="btn btn-danger register">免费注册</a>
                <a href = "#" class="btn btn-link login">登录</a>
            </div>
        </div>
    </div>
</header>
<!--导航-->
<nav class="navbar wjs_nav" data-spy="affix" data-offset-top="60" >
    <div class="container">
        <!--移动端显示项目-->
        <div class="navbar-header">
            <!--汉堡菜单-->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--logo-->
            <a class="navbar-brand logo" href="#">
                <span class="wjs_icon wjs_icon_logo"></span>
                <span class="wjs_icon wjs_icon_font"></span>
            </a>
        </div>
        <!--pc端导航栏主体部分-->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">我要投资</a></li>
                <li><a href="#">我要借贷</a></li>
                <li><a href="#">平台介绍</a></li>
                <li><a href="#">新手专区</a></li>
                <li><a href="#">最新动态</a></li>
                <li><a href="#">微金宝</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden-sm">
                <li><a href="#">个人中心</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!--轮播图-->
<div class="banner">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="2000">
        <!--小圆点 -->
        <ol class="carousel-indicators">

        </ol>
        <!--图片 -->
        <div class="carousel-inner" role="listbox">

        </div>
        <!-- 左右切换箭头 -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </a>
    </div>
</div>
<!--信息-->
<div class="info hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 hidden-xs">
                <a href="#" class="info_link">
                    <div class="media">
                        <div class="media-left">
                            <span class="wjs_icon wjs_icon_lock"></span>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">交易支付保障</h4>
                            <p>银联支付全称保证支付安全</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 hidden-xs">
                <a href="#" class="info_link">
                    <div class="media">
                        <div class="media-left">
                            <span class="wjs_icon wjs_icon_lock"></span>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">交易支付保障</h4>
                            <p>银联支付全称保证支付安全</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 hidden-xs">
                <a href="#" class="info_link">
                    <div class="media">
                        <div class="media-left">
                            <span class="wjs_icon wjs_icon_lock"></span>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">交易支付保障</h4>
                            <p>银联支付全称保证支付安全</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 hidden-xs">
                <a href="#" class="info_link">
                    <div class="media">
                        <div class="media-left">
                            <span class="wjs_icon wjs_icon_lock"></span>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">交易支付保障</h4>
                            <p>银联支付全称保证支付安全</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 hidden-xs">
                <a href="#" class="info_link">
                    <div class="media">
                        <div class="media-left">
                            <span class="wjs_icon wjs_icon_lock"></span>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">交易支付保障</h4>
                            <p>银联支付全称保证支付安全</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 hidden-xs">
                <a href="#" class="info_link">
                    <div class="media">
                        <div class="media-left">
                            <span class="wjs_icon wjs_icon_lock"></span>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">交易支付保障</h4>
                            <p>银联支付全称保证支付安全</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!--预约-->
<div class="book">
    <div class="container">
        <div class="book_left pull-left">
            <span class="wjs_icon wjs_icon_clock"></span>
            <span>现在有 273 人在排队，累计预约交易成功 7571 次。 什么是预约投标？
                <a href="#">立即预约</a>
            </span>
        </div>
        <div class="book_right pull-right hidden-xs">
            <a href="#">
                <span class="wjs_icon wjs_icon_video"></span>
                微金所企业宣传片
            </a>
        </div>
    </div>
</div>
<!--商品-->
<div class="product">
    <div class="container">
        <!--tab导航-->
        <div class="pro_nav_box">
            <ul class="nav pro_nav_tabs" role="tablist">
                <li role="presentation" class="active"><a href="#product_box01" role="tab" data-toggle="tab">特别推荐</a></li>
                <li role="presentation"><a href="#product_box02" role="tab" data-toggle="tab">微投资</a></li>
                <li role="presentation"><a href="#product_box03" role="tab" data-toggle="tab">微投资</a></li>
                <li role="presentation"><a href="#product_box04" role="tab" data-toggle="tab">微投资</a></li>
                <li role="presentation"><a href="#product_box05" role="tab" data-toggle="tab">微投资</a></li>
                <li role="presentation"><a href="#product_box06" role="tab" data-toggle="tab">微投资</a></li>
                <li role="presentation"><a href="#product_box07" role="tab" data-toggle="tab">微投资</a></li>
            </ul>
        </div>

        <!--tab导航内容-->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="product_box01">
                <div class="col-md-4 col-sm-6 col-xs-12 ">
                    <a href="#" class="product_box active">
                        <div class="box_right pull-right">
                            <p><b>8</b><sub>%</sub></p>
                            <p>年利率</p>
                        </div>
                        <div class="box_left">
                            <span class="wjs_icon wjs_icon_try"></span>
                            <h4>新手体验标1002期</h4>
                            <div class="col-xs-6">
                                <p>起投金额(元)</p>
                                <p>0.01万</p>
                            </div>
                            <div class="col-xs-6">
                                <p>起投金额(元)</p>
                                <p>0.01万</p>
                            </div>
                            <div class="col-xs-6">
                                <p>起投金额(元)</p>
                                <p>0.01万</p>
                            </div>
                            <div class="col-xs-6">
                                <p>起投金额(元)</p>
                                <p>0.01万</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 ">
                    <a href="#" class="product_box">
                        <div class="box_right pull-right">
                            <div class="btn_box">
                                <span class="red" data-toggle="tooltip" data-placement="top" title="微金宝">宝</span>
                                <span class="green" data-toggle="tooltip" data-placement="top" title="上海市">沪</span>
                            </div>
                            <p><b>8</b><sub>%</sub></p>
                            <p>年利率</p>
                        </div>
                        <div class="box_left">
                            <h4>新手体验标1002期</h4>
                            <div class="col-xs-6">
                                <p>起投金额(元)</p>
                                <p>0.01万</p>
                            </div>
                            <div class="col-xs-6">
                                <p>起投金额(元)</p>
                                <p>0.01万</p>
                            </div>
                            <div class="col-xs-6">
                                <p>起投金额(元)</p>
                                <p>0.01万</p>
                            </div>
                            <div class="col-xs-6">
                                <p>起投金额(元)</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar"  style="width: 60%;">
                                        60%
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 ">
                    <a href="#" class="product_box">
                        <div class="box_right pull-right">
                            <p><b>8</b><sub>%</sub></p>
                            <p>年利率</p>
                        </div>
                        <div class="box_left">
                            <h4>新手体验标1002期</h4>
                            <div class="col-xs-6">
                                <p>起投金额(元)</p>
                                <p>0.01万</p>
                            </div>
                            <div class="col-xs-6">
                                <p>起投金额(元)</p>
                                <p>0.01万</p>
                            </div>
                            <div class="col-xs-6">
                                <p>起投金额(元)</p>
                                <p>0.01万</p>
                            </div>
                            <div class="col-xs-6">
                                <p>起投金额(元)</p>
                                <p>0.01万</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 ">
                    <a href="#" class="product_box">
                        <div class="box_right pull-right">
                            <p><b>8</b><sub>%</sub></p>
                            <p>年利率</p>
                        </div>
                        <div class="box_left">
                            <h4>新手体验标1002期</h4>
                            <div class="col-xs-6">
                                <p>起投金额(元)</p>
                                <p>0.01万</p>
                            </div>
                            <div class="col-xs-6">
                                <p>起投金额(元)</p>
                                <p>0.01万</p>
                            </div>
                            <div class="col-xs-6">
                                <p>起投金额(元)</p>
                                <p>0.01万</p>
                            </div>
                            <div class="col-xs-6">
                                <p>起投金额(元)</p>
                                <p>0.01万</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="product_box02">2</div>
            <div role="tabpanel" class="tab-pane" id="product_box03">3</div>
            <div role="tabpanel" class="tab-pane" id="product_box04">4</div>
            <div role="tabpanel" class="tab-pane" id="product_box05">5</div>
            <div role="tabpanel" class="tab-pane" id="product_box06">6</div>
            <div role="tabpanel" class="tab-pane" id="product_box07">7</div>
        </div>

    </div>
</div>
<!--新闻-->
<div class="news">
    <div class="container">
        <div class="col-md-2 col-md-offset-2">
            <h3>全部新闻</h3>
        </div>
        <div class="col-md-1">
            <div class="news_line hidden-xs hidden-sm"></div>
            <!-- tab页签 -->
            <ul class="nav news-nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#home" role="tab" data-toggle="tab">
                        <span class="wjs_icon wjs_icon_news_01"></span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#profile" role="tab" data-toggle="tab">
                        <span class="wjs_icon wjs_icon_news_02"></span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#messages" role="tab" data-toggle="tab">
                        <span class="wjs_icon wjs_icon_news_03"></span>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#settings" role="tab" data-toggle="tab">
                        <span class="wjs_icon wjs_icon_news_04"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-7">
            <!-- 新闻标题 -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    <ul>
                        <li><a href="#"><span class="hidden-xs">2016-01-22</span></a>【微还款】一周还款公告2016年1月18日-1月24日</li>
                        <li><a href="#"><span class="hidden-xs">2016-01-22</span></a>【微还款】一周还款公告2016年1月18日-1月24日</li>
                        <li><a href="#"><span class="hidden-xs">2016-01-22</span></a>【微还款】一周还款公告2016年1月18日-1月24日</li>
                        <li><a href="#"><span class="hidden-xs">2016-01-22</span></a>【微还款】一周还款公告2016年1月18日-1月24日</li>
                        <li><a href="#"><span class="hidden-xs">2016-01-22</span></a>【微还款】一周还款公告2016年1月18日-1月24日</li>
                        <li><a href="#"><span class="hidden-xs">2016-01-22</span></a>【微还款】一周还款公告2016年1月18日-1月24日</li>
                        <li><a href="#"><span class="hidden-xs">2016-01-22</span></a>【微还款】一周还款公告2016年1月18日-1月24日</li>
                        <li><a href="#"><span class="hidden-xs">2016-01-22</span></a>【微还款】一周还款公告2016年1月18日-1月24日</li>
                        <li><a href="#"><span class="hidden-xs">2016-01-22</span></a>【微还款】一周还款公告2016年1月18日-1月24日</li>
                    </ul>
                </div>
                <div role="tabpanel" class="tab-pane" id="profile">
                    并没有什么内容
                </div>
                <div role="tabpanel" class="tab-pane" id="messages">
                    并没有什么内容
                </div>
                <div role="tabpanel" class="tab-pane" id="settings">
                    并没有什么内容
                </div>
            </div>
        </div>
    </div>
</div>
<!--合作伙伴-->
<div class="partner">
    <div class="container">
        <h4>合作伙伴</h4>
        <ul class="clearfix">
            <li><a href="#"><span class="wjs_icon wjs_icon_partner01"></span></a></li>
            <li><a href="#"><span class="wjs_icon wjs_icon_partner02"></span></a></li>
            <li><a href="#"><span class="wjs_icon wjs_icon_partner03"></span></a></li>
            <li><a href="#"><span class="wjs_icon wjs_icon_partner04"></span></a></li>
            <li><a href="#"><span class="wjs_icon wjs_icon_partner05"></span></a></li>
            <li><a href="#"><span class="wjs_icon wjs_icon_partner06"></span></a></li>
            <li><a href="#"><span class="wjs_icon wjs_icon_partner07"></span></a></li>
            <li><a href="#"><span class="wjs_icon wjs_icon_partner08"></span></a></li>
            <li><a href="#"><span class="wjs_icon wjs_icon_partner09"></span></a></li>
        </ul>
    </div>
</div>
<script type="text/template" id = "point_template">
    <% $.each(model,function(index,obj){ %>
    <li data-target="#carousel-example-generic" data-slide-to="<%-index%>" class="<%=index==0?'active':''%>"></li>
    <% });%>
</script>
<script type="text/template" id = "img_template">
    <% $.each(model.list,function(index,obj){ %>
    <div class="item <%=index==0?'active':''%>">
        <% if(model.isM){%>
        <img class="banner_img" src="<%=obj.smimg%>" alt="...">
        <%}else{%>
        <a class= "banner_bg" href="#" style="background-image:url('<%=obj.bgimg%>')"></a>
        <%}%>
    </div>
    <% });%>
</script>

<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script src = "lib/underscore/underscore.js"></script>
<script src = "js/swipe.js"></script>
<script src = "js/index.js"></script>

</body>
</html>